body{
    font-family: 'Montserrat';
    margin: 0;
}
#form-data{
    background:white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-data-content{
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(212, 179, 158, 0.16);
    width: 1170px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#avatar-block{
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
input{
    width: 250px;
    height: 20px;
    max-width: 100%;
}
select{
    width: 260px;
    height: 25px;
    max-width: 100%;
}
textarea{
    width: 250px;
    height: 80px;
    font-size: 18px;
}

/* Город проживания */
#city-input{
    width: 260px;
}
.form-vue-select .vs__dropdown-toggle{
    background: white;
    border: 1px solid #808080;
}
.form-vue-select .vs__open-indicator {
    fill: rgb(64 64 64);
}
.form-vue-select .vs__dropdown-option{
    padding-left: 10px;
    width: 100%;
    white-space: normal;
}

/* Социальные сети */
.social-network-list{
    width: 100px;
    margin-bottom: 5px;
}
.soc{
    margin-top: 20px;
    margin-bottom: 10px;
}
.soc > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#education{
    margin-top: 20px;
    max-width: 100%;
}
.graduate-sapr > div,
.graduate-another > div{
    margin-bottom: 5px;
}
.tabs {
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid rgb(175, 156, 143);
    background-color:  rgb(233, 210, 196);
    padding: 10px 15px;
    font-size: 16px;
}

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2 {
    display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: rgb(189, 171, 159);
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid rgb(175, 156, 143);
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: rgb(233, 210, 196);
    border: 1px solid rgb(175, 156, 143);
    border-bottom: 1px solid rgb(233, 210, 196);
}

.graduate-close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#form-data-que-inputs select{
    width: 100%;
}
#form-data-que-inputs input{
    box-sizing: border-box;
    height: 25px;
    width: 100%;
}
#form-data-que-inputs > div{
    margin-bottom: 8px;
    width: 100%;
}
#birthday{
    width: 255px;
}
#form-data-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    max-width: 100%;
}
#form-data-main-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}
#form-data-que-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 95%;
    margin-left: 5px;
    margin-right: 5px;
}
#education-info > div{
    margin-top: 40px;
}
#form-data-main-inputs > div{
    margin-bottom: 10px;
    max-width: 100%;
}

/* Достижение */
#achive-files-input{
    display: flex;
    flex-direction: column;
}
.achiev-file,
.dep-photo-block{
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/* Карусель (достижения) */
#achive-file-collection,
#dep-photo-collection{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrow{
    width: 30px;
    cursor: pointer;
}

/* Архивные фото */
#dep-photos-input{
    display: flex;
    flex-direction: column;
}
.comment{
    box-sizing: border-box;
    width: 230px;
    margin-top: 10px;
}

/* Кнопка */
.form-button,
.button-label{
    background: #44392E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
    border: 0px;
    font-size: 18px;
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;
    transition-duration: 0.1s;
    padding: 8px;
    margin-top: 5px;
}
.form-button:active,
.button-label:active{
    background: black;
    transform: translateY(4px);
}
.form-button:hover,
.button-label:hover{
    background: black;
}

#send-form{
    width: 252px;
    height: 52px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#back{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.7);
}

/* Аватар (модальное окно) */
#modal-add-photo {
    background-color: rgba(212, 179, 158, 1);
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
#photo{
    margin-top: 10px;
}
#photo-border{
    max-width: 500px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-add-photo-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#myimg{
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 70vh;
    max-width: 100%;
}
#modal-add-photo-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#modal-add-photo-buttons *{
    margin: 5px;
}

/*Модальное окно с удалением фото (вопрос) */
#modal-window{
    background-color: rgba(212, 179, 158, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    max-width: 370px;
}
#modal-window-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Модальное окно (увеличенное фото) */
#modal-show-photo{
    padding: 0 0 0 0;
}
#modal-show-photo img{
    max-width: 500px;
    width: 100%;
}

/* Ввод читаемых дисциплин */
#is-lecturer-checkbox{
    width: auto;
    height: auto;
}
#is-lecturer-disc-block > div{
    margin-top: 5px;
    margin-bottom: 5px;
}
.discipline-block{
    display: flex;
}
.discipline{
    width: 99%;
    padding-left: 2px;
    margin-right: 2px;
}

/* Информация о партнёре */
#is-partner-block > div{
    margin-top: 5px;
    margin-bottom: 5px;
}
#input-comp-logo-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.companies {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px 30px;
    margin-top: 1em;
    user-select: none;
    overflow-x: auto;
    padding-bottom: 20px;
}

.comp_style {
    font-size: 18px;
}


#partner-logo-block{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#partner-logo{
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    padding: 40px 0 40px 0;
}
#partner input{
    width: 300px;
}
#partner-year{
    width: 190px;
}
#partner textarea{
    box-sizing: border-box;
    width: 100%;
}

/*Кнопка удаления, best pr */
.cancel,
.ask{
    cursor: pointer;
}

@media(max-width:550px){
    #form-data-que-inputs{
        margin-left: 5px;
        margin-right: 5px;
    }
    #myimg,
    #photo-border{
        max-width: 100%;
        max-height: 70vh;
    }
    #modal-show-photo{
        max-width: 90vw;
        max-height: 90vh;
    }
    #modal-show-photo img{
        width: 100%;
        height: 100%;
    }

}
@media(max-width:375px){
    #form-data-que-inputs input{
        max-width: 100%;
    }
    #form-data-que-inputs select{
        max-width: 100%;
    }
}
