<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">

<head>
    <title>
        {{#en}}Questionnaire{{/en}}
        {{#ru}}Анкета{{/ru}}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/it.png">
    <link rel="stylesheet" href="/stylesheets/headerStyles.css">
    <link rel="stylesheet" href="/stylesheets/footerStyles.css">
    <link rel="stylesheet" href="/stylesheets/formStyles.css">
    <link rel="stylesheet" href="/stylesheets/cropper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
    <link rel="stylesheet" href="/stylesheets/preloaderStyles.css">
</head>

<body>
    {{>base_header}}
    <section id="form-data">
        <div id="form-data-content">
            <h1 id="form-data-head">
                {{#en}}Personal data{{/en}}
                {{#ru}}Анкетные данные{{/ru}}</h1>
            <div id="form-data-inputs">
                <h4 style="margin-top: 0px;" v-if="!inputData.status_verified">
                    {{#en}}Administrator has not<br>yet verified your profile</h4>{{/en}}
                {{#ru}}Администратор пока не<br>проверил вашу анкету</h4>{{/ru}}
                <div id="form-data-main-inputs">
                    <div id="avatar-block">
                        <img id="avatar" v-bind:src="inputData.photo" width="200px" height="200px">
                        <img class="delete-avatar cancel" src="/images/cancel.svg" v-on:click="DeleteAvatar()">
                    </div>
                    <div><b>{{#en}}Avatar{{/en}}
                            {{#ru}}Аватар{{/ru}}</b><br>
                        <button class="form-button" id="open-model" v-on:click="AddAvatar()">{{#en}}Add a photo{{/en}}
                            {{#ru}}Добавить фото{{/ru}}</button>
                    </div>
                    <div><b>{{#en}}First name*{{/en}}
                            {{#ru}}Имя*{{/ru}}</b><br>
                        <input id="name" class="required" name="name" type="text" v-model="inputData.name">
                    </div>
                    <div><b>{{#en}}Last name*{{/en}}
                            {{#ru}}Фамилия*{{/ru}}</b><br>
                        <input id="surname" class="required" name="surname" type="text" v-model="inputData.surname">
                    </div>
                    <div><b>{{#en}}Patronymic{{/en}}
                            {{#ru}}Отчество{{/ru}}</b><br>
                        <input id="patronymic" name="patronymic" type="text" v-model="inputData.patronymic">
                    </div>
                    <div><b>{{#en}}Date of birth*{{/en}}
                            {{#ru}}Дата рождения*{{/ru}}</b><br>
                        <input id="birthday" class="required" type="date" v-model="birthday">
                    </div>
                    <div><b>{{#en}}Phone number{{/en}}
                            {{#ru}}Номер телефона{{/ru}}</b><br>
                        <input id="phone-number" type="tel" placeholder="+7(981)-111-11-11"
                            v-model="inputData.phone_number" v-on:input="InputPhone()">
                    </div>
                    <div id="city-input"><b>{{#en}}Place of residence{{/en}}
                            {{#ru}}Место проживания{{/ru}}</b><br>
                        <v-select class="form-vue-select" taggable push-tags label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                            :options="cities" :reduce="city => city.{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                            v-model="inputData.city">
                            <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}</div>
                        </v-select>
                    </div>

                    <div id="social-networks">
                        <b>{{#en}}Social network{{/en}}
                            {{#ru}}Социальные сети{{/ru}}</b><br>
                        <div class="soc" v-for="(soc, index) in inputData.social_network">
                            <div>
                                <select class="social-network-list" name="social-network-list"
                                    v-model="soc.network_name">
                                    <option disabled>{{#en}}Social network{{/en}}
                                        {{#ru}}Социальные сети{{/ru}}</option>
                                    <option value=""></option>
                                    <option value="Instagram">Instagram</option>
                                    <option value="VK">VK</option>
                                    <option value="Facebook">Facebook</option>
                                </select>
                                <img class="close-soc cancel" src="/images/cancel.svg"
                                    v-on:click="DeleteElementFromArray(index, inputData.social_network)">
                            </div>
                            <input type="url" class="social-network-url"
                                placeholder="{{#en}}Enter url of social network{{/en}}{{#ru}}Введите URL соц сети{{/ru}}"
                                name="social-network-url" v-model="soc.url">
                        </div>
                        <button class="form-button" id="button-add-social-network"
                            v-on:click="AddElementToArray(inputData.social_network)" v-show="visibleSocButton">
                            {{#en}}Add social network{{/en}}
                            {{#ru}}Добавить соц сеть{{/ru}}
                        </button>
                    </div>

                    <div id="education">
                        <div class="tabs">
                            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                            <label for="tab-btn-1">{{#en}}The CAD Department{{/en}}
                                {{#ru}}Кафедра САПРиУ{{/ru}}</label>
                            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                            <label for="tab-btn-2">{{#en}}Other{{/en}}
                                {{#ru}}Другое{{/ru}}</label>
                            <div id="content-1">
                                <div class="education-info-sapr">
                                    <div class="graduate-sapr" v-for="(graduate, index) in inputData.education">
                                        <div class="graduate-close">
                                            <img src="/images/cancel.svg" class="close-grad cancel"
                                                v-on:click="DeleteElementFromArray(index, inputData.education)">
                                        </div>
                                        <div><b>{{#en}}Year of graduation from SPbSIT(TU){{/en}}
                                                {{#ru}}Год окончания СПбГТИ{{/ru}}</b><br>
                                            <select name="year_graduation" id="year-graduation"
                                                v-model="graduate.year_graduation">
                                                <option disabled>{{#en}}Year of graduation{{/en}}{{#ru}}Год
                                                    выпуска{{/ru}}</option>
                                                <option value=""></option>
                                                <option v-for="y in allYears" v-bind:value="y" v-text="y"></option>
                                            </select>
                                        </div>
                                        <div><b>{{#en}}Form of study{{/en}}
                                                {{#ru}}Форма обучения{{/ru}}</b><br>
                                            <select name="educ_form" class="educ-form"
                                                v-on:change="EducFormChange(graduate)" v-model="graduate.educ_form">
                                                <option disabled>{{#en}}Form of study{{/en}}{{#ru}}Форма обучения{{/ru}}
                                                </option>
                                                <option value=""></option>
                                                <option value="{{#en}}Full-time{{/en}}{{#ru}}Очная{{/ru}}">
                                                    {{#en}}Full-time{{/en}}{{#ru}}Очная{{/ru}}</option>
                                                <option value="{{#en}}Part-time{{/en}}{{#ru}}Заочная{{/ru}}">
                                                    {{#en}}Part-time{{/en}}{{#ru}}Заочная{{/ru}}</option>
                                            </select>
                                        </div>
                                        <div><b>{{#en}}Qualification{{/en}}
                                                {{#ru}}Квалификация{{/ru}}</b><br>
                                            <select name="qualification" class="qualification"
                                                v-on:change="QualificationChange(graduate)"
                                                v-model="graduate.qualification">
                                                <option disabled>{{#en}}Qualification}{{/en}}
                                                    {{#ru}}Квалификация{{/ru}}</option>
                                                <option value=""></option>
                                                <option
                                                    v-if='graduate.educ_form == "Очная" || graduate.educ_form == "Full-time"'
                                                    value="{{#en}}System engineer{{/en}}{{#ru}}Инженер-системотехник{{/ru}}">
                                                    {{#en}}System engineer{{/en}}
                                                    {{#ru}}Инженер-системотехник{{/ru}}</option>
                                                <option
                                                    v-if='graduate.educ_form == "Очная" || graduate.educ_form == "Full-time"'
                                                    value="{{#en}}Engineer{{/en}}{{#ru}}Инженер{{/ru}}">
                                                    {{#en}}Engineer{{/en}}{{#ru}}Инженер{{/ru}}</option>
                                                <option v-if='graduate.educ_form && graduate.educ_form != ""'
                                                    value="{{#en}}Bachelor{{/en}}{{#ru}}Бакалавр{{/ru}}">
                                                    {{#en}}Bachelor{{/en}}
                                                    {{#ru}}Бакалавр{{/ru}}</option>
                                                <option v-if='graduate.educ_form && graduate.educ_form != ""'
                                                    value="{{#en}}Master{{/en}}{{#ru}}Магистр{{/ru}}">
                                                    {{#en}}Master{{/en}}
                                                    {{#ru}}Магистр{{/ru}}</option>
                                                <option v-if='graduate.educ_form && graduate.educ_form != ""'
                                                    value="{{#en}}Post-graduate student (Teacher-researcher){{/en}}{{#ru}}Аспирант(Преподаватель-исследователь){{/ru}}">
                                                    {{#en}}Post-graduate student (Teacher-researcher){{/en}}
                                                    {{#ru}}Аспирант(Преподаватель-исследователь){{/ru}}</option>
                                            </select>
                                        </div>
                                        <div><b>{{#en}}Specialty{{/en}}
                                                {{#ru}}Специальность{{/ru}}</b><br>
                                            <select name="specialty" class="specialty" v-model="graduate.specialty">
                                                <option disabled>{{#en}}Specialty{{/en}}
                                                    {{#ru}}Специальность{{/ru}}</option>
                                                <option value=""></option>
                                                <option
                                                    v-if='graduate.qualification == "Инженер" || graduate.qualification == "Engineer" || graduate.qualification == "Инженер-системотехник" || graduate.qualification == "System engineer"'
                                                    value="{{#en}}Computer-aided design systems{{/en}}{{#ru}}Системы автоматизированного проектирования{{/ru}}">
                                                    {{#en}}Computer-aided design systems{{/en}}{{#ru}}Системы
                                                    автоматизированного проектирования{{/ru}}</option>
                                                <option
                                                    v-if='graduate.qualification == "Инженер" || graduate.qualification == "Engineer"'
                                                    value="{{#en}}Automated information processing and control systems{{/en}}{{#ru}}Автоматизированные системы обработки информации и управления{{/ru}}">
                                                    {{#en}}Automated information processing and control
                                                    systems{{/en}}{{#ru}}Автоматизированные системы обработки информации
                                                    и управления{{/ru}}</option>
                                            </select>
                                        </div>
                                        <div><b>{{#en}}Field of study{{/en}}
                                                {{#ru}}Направление подготовки{{/ru}}</b><br>
                                            <select name="dir_training" class="dir-training"
                                                v-on:change="DirTrainingChange(graduate)"
                                                v-model="graduate.dir_training">
                                                <option disabled>{{#en}}Field of study{{/en}}
                                                    {{#ru}}Направление подготовки{{/ru}}</option>
                                                <option value=""></option>
                                                <option
                                                    v-if='graduate.qualification == "Бакалавр" || graduate.qualification == "Bachelor" ||
                                                            graduate.qualification == "Магистр" || graduate.qualification == "Master" ||
                                                            graduate.qualification == "Аспирант(Преподаватель-исследователь)" || graduate.qualification == "Post-graduate student (Teacher-researcher)"'
                                                    value="{{#en}}Computer science and computer engineering{{/en}}{{#ru}}Информатика и вычислительная техника{{/ru}}">
                                                    {{#en}}Computer science and computer engineering{{/en}}
                                                    {{#ru}}Информатика и вычислительная техника{{/ru}}</option>
                                                <option
                                                    v-if='(graduate.qualification == "Бакалавр" || graduate.qualification == "Bachelor") &&
                                                            (graduate.educ_form == "Очная" || graduate.educ_form == "Full-time")'
                                                    value="{{#en}}Applied computer science{{/en}}{{#ru}}Прикладная информатика{{/ru}}">
                                                    {{#en}}Applied computer science{{/en}}{{#ru}}Прикладная
                                                    информатика{{/ru}}</option>
                                            </select>
                                        </div>
                                        <div><b>{{#en}}Focus{{/en}}
                                                {{#ru}}Направленность{{/ru}}</b><br>
                                            <select name="focus" class="focus" v-model="graduate.focus">
                                                <option disabled>{{#en}}Focus{{/en}}
                                                    {{#ru}}Направленность{{/ru}}</option>
                                                <option value=""></option>
                                                <option
                                                    v-if='(graduate.educ_form == "Очная" || graduate.educ_form == "Full-time") && (graduate.qualification == "Бакалавр" || graduate.qualification == "Bachelor") &&
                                                            (graduate.dir_training == "Информатика и вычислительная техника" || graduate.dir_training == "Computer science and computer engineering")'
                                                    value="{{#en}}Computer-aided design systems{{/en}}{{#ru}}Системы автоматизированного проектирования{{/ru}}">
                                                    {{#en}}Computer-aided design systems{{/en}}{{#ru}}Системы
                                                    автоматизированного проектирования{{/ru}}</option>
                                                <option
                                                    v-if='(graduate.qualification == "Бакалавр" || graduate.qualification == "Bachelor") &&
                                                            (graduate.dir_training == "Информатика и вычислительная техника" || graduate.dir_training == "Computer science and computer engineering")'
                                                    value="{{#en}}Automated information processing and control systems{{/en}}{{#ru}}Автоматизированные системы обработки информации и управления{{/ru}}">
                                                    {{#en}}Automated information processing and control
                                                    systems{{/en}}{{#ru}}Автоматизированные системы обработки информации
                                                    и управления{{/ru}}</option>
                                                <option
                                                    v-if='graduate.dir_training == "Прикладная информатика" || graduate.dir_training == "Applied computer science"'
                                                    value="{{#en}}Applied computer science in chemistry{{/en}}{{#ru}}Прикладная информатика в химии{{/ru}}">
                                                    {{#en}}Applied computer science in chemistry{{/en}}{{#ru}}Прикладная
                                                    информатика в химии{{/ru}}</option>
                                                <option
                                                    v-if='(graduate.qualification == "Магистр" || graduate.qualification == "Master") && 
                                                            (graduate.dir_training == "Информатика и вычислительная техника" || graduate.dir_training == "Computer science and computer engineering")'
                                                    value="{{#en}}Information and software for automated systems{{/en}}{{#ru}}Информационное и программное обеспечение автоматизированных систем{{/ru}}">
                                                    {{#en}}Information and software for automated
                                                    systems{{/en}}{{#ru}}Информационное и программное обеспечение
                                                    автоматизированных систем{{/ru}}</option>
                                                <option
                                                    v-if='(graduate.qualification == "Аспирант(Преподаватель-исследователь)" || graduate.qualification == "Post-graduate student (Teacher-researcher)") &&
                                                            (graduate.dir_training == "Информатика и вычислительная техника" || graduate.dir_training == "Computer science and computer engineering")'
                                                    value="{{#en}}05.13.01 System analysis, control and information processing{{/en}}{{#ru}}05.13.01 Системный анализ, управление и обработка информации{{/ru}}">
                                                    {{#en}}05.13.01 System analysis, control and information
                                                    processing{{/en}}{{#ru}}05.13.01 Системный анализ, управление и
                                                    обработка информации{{/ru}}</option>
                                                <option
                                                    v-if='(graduate.qualification == "Аспирант(Преподаватель-исследователь)" || graduate.qualification == "Post-graduate student (Teacher-researcher)") &&
                                                            (graduate.dir_training == "Информатика и вычислительная техника" || graduate.dir_training == "Computer science and computer engineering")'
                                                    value="{{#en}}05.13.06(07) Automation and control of technological processes and production facilities{{/en}}{{#ru}}05.13.06(07) Автоматизация и управление технологическими процессами и производствами{{/ru}}">
                                                    {{#en}}05.13.06(07) Automation and control of technological
                                                    processes and production facilities{{/en}}
                                                    {{#ru}}05.13.06(07) Автоматизация и управление технологическими
                                                    процессами и производствами{{/ru}}</option>
                                                <option
                                                    v-if='(graduate.qualification == "Аспирант(Преподаватель-исследователь)" || graduate.qualification == "Post-graduate student (Teacher-researcher)") &&
                                                            (graduate.dir_training == "Информатика и вычислительная техника" || graduate.dir_training == "Computer science and computer engineering")'
                                                    value="{{#en}}05.13.18 Mathematical modeling, numerical methods and software packages{{/en}}{{#ru}}05.13.18 Математическое моделирование, численные методы и комплексы программ{{/ru}}">
                                                    {{#en}}05.13.18 Mathematical modeling, numerical methods and
                                                    software packages{{/en}}
                                                    {{#ru}}05.13.18 Математическое моделирование, численные методы и
                                                    комплексы программ{{/ru}}</option>
                                            </select>
                                        </div>
                                        <div><b>{{#en}}Group number{{/en}}
                                                {{#ru}}Номер группы{{/ru}}</b><br>
                                            <input name="group" class="group" v-model="graduate.group">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="form-button" id="add-button-education"
                                        v-on:click="AddElementToArray(inputData.education)">
                                        {{#en}}Add education{{/en}}{{#ru}}Добавить образование{{/ru}}
                                    </button>
                                </div>
                            </div>
                            <div id="content-2">
                                <div class="education-info-another">
                                    <div class="graduate-another"
                                        v-for="(graduate, index) in inputData.another_education">
                                        <div class="graduate-close">
                                            <img src="/images/cancel.svg" class="close-grad cancel"
                                                v-on:click="DeleteElementFromArray(index, inputData.another_education)">
                                        </div>
                                        <div><b>{{#en}}City{{/en}}
                                                {{#ru}}Город{{/ru}}</b><br>
                                            <input v-model="graduate.an_city">
                                        </div>
                                        <div><b>{{#en}}University{{/en}}
                                                {{#ru}}Вуз{{/ru}}</b><br>
                                            <input v-model="graduate.an_uni">
                                        </div>
                                        <div><b>{{#en}}Year of graduation{{/en}}
                                                {{#ru}}Год окончания{{/ru}}</b><br>
                                            <input v-model="graduate.an_year_graduation"
                                                v-on:input='CorrectYearInput(graduate, "an_year_graduation")'
                                                v-on:change='CorrectYearChange(graduate, "an_year_graduation")'>
                                        </div>
                                        <div><b>{{#en}}Qualification{{/en}}
                                                {{#ru}}Квалификация{{/ru}}</b><br>
                                            <input v-model="graduate.an_qualification">
                                        </div>
                                        <div><b>{{#en}}Specialty{{/en}}
                                                {{#ru}}Специальность{{/ru}}</b><br>
                                            <input v-model="graduate.an_specialty">
                                        </div>
                                        <div><b>{{#en}}Field of study{{/en}}
                                                {{#ru}}Направление подготовки{{/ru}}</b><br>
                                            <input v-model="graduate.an_dir_training">
                                        </div>
                                        <div><b>{{#en}}Focus{{/en}}
                                                {{#ru}}Направленность{{/ru}}</b><br>
                                            <input v-model="graduate.an_focus">
                                        </div>
                                        <div><b>{{#en}}Group{{/en}}
                                                {{#ru}}Группа{{/ru}}</b><br>
                                            <input v-model="graduate.an_group">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button id="add-button-another-education" class="form-button"
                                        v-on:click="AddElementToArray(inputData.another_education)">
                                        {{#en}}Add education{{/en}}{{#ru}}Добавить образование{{/ru}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div><b>{{#en}}Additional education{{/en}}
                            {{#ru}}Дополнительное образование{{/ru}}</b><br>
                        <textarea name="other-education" id="other-education" type="text"
                            v-model="inputData.other_education"></textarea>
                    </div>
                    <div><b>{{#en}}Academic degree{{/en}}
                            {{#ru}}Ученая степень{{/ru}}</b><br>
                        <select id="academ-degree" v-model="inputData.academ_degree">
                            <option disabled>{{#en}}Academic degree{{/en}}
                                {{#ru}}Ученая степень{{/ru}}</option>
                            <option value=""></option>
                            <option value="{{#en}}PhD{{/en}}{{#ru}}Кандидат науки{{/ru}}">
                                {{#en}}PhD{{/en}}{{#ru}}Кандидат наук{{/ru}}</option>
                            <option value="{{#en}}Doctor of science{{/en}}{{#ru}}Доктор{{/ru}}">
                                {{#en}}Doctor of science{{/en}}{{#ru}}Доктор{{/ru}}</option>
                        </select>
                    </div>
                    <div><b>{{#en}}Academic title{{/en}}
                            {{#ru}}Ученое звание{{/ru}}</b><br>
                        <select id="academ-rank" v-model="inputData.academ_rank">
                            <option disabled>{{#en}}Academic title{{/en}}
                                {{#ru}}Ученое звание{{/ru}}</option>
                            <option value=""></option>
                            <option value="{{#en}}Associate Professor{{/en}}{{#ru}}Доцент{{/ru}}">
                                {{#en}}Associate Professor{{/en}}{{#ru}}Доцент{{/ru}}</option>
                            <option value="{{#en}}Professor{{/en}}{{#ru}}Профессор{{/ru}}">
                                {{#en}}Professor{{/en}}{{#ru}}Профессор{{/ru}}</option>
                        </select>
                    </div>
                    <div><b>{{#en}}Current place of work{{/en}}
                            {{#ru}}Место работы в настоящее время{{/ru}}</b><br>
                        <input id="work-place" type="text" v-model="inputData.work_place">
                    </div>
                    <div><b>{{#en}}Field of activity{{/en}}
                            {{#ru}}Сфера деятельности{{/ru}}</b><br>
                        <select id="field-activety" v-model="inputData.field_activety">
                            <option disabled>{{#en}}Field of activity{{/en}}{{#ru}}Сфера деятельности{{/ru}}</option>
                            <option value=""></option>
                            <option value="{{#en}}Education{{/en}}{{#ru}}Образование{{/ru}}">{{#en}}Education{{/en}}
                                {{#ru}}Образование{{/ru}}</option>
                            <option value="{{#en}}Industry{{/en}}{{#ru}}Промышленность{{/ru}}">{{#en}}Industry{{/en}}
                                {{#ru}}Промышленность{{/ru}}</option>
                            <option value="{{#en}}IT company{{/en}}{{#ru}}ИТ компания{{/ru}}">{{#en}}IT company{{/en}}
                                {{#ru}}ИТ компания{{/ru}}</option>
                            <option value="{{#en}}Science{{/en}}{{#ru}}Наука{{/ru}}">{{#en}}Science{{/en}}
                                {{#ru}}Наука{{/ru}}</option>
                            <option value="{{#en}}Firms{{/en}}{{#ru}}Фирмы{{/ru}}">{{#en}}Firms{{/en}}
                                {{#ru}}Фирмы{{/ru}}</option>
                        </select>
                    </div>
                    <div><b>{{#en}}Current position{{/en}}
                            {{#ru}}Занимаемая должность{{/ru}}</b><br>
                        <input id="position" type="text" v-model="inputData.position">
                    </div>
                    <div><b>{{#en}}Hobby{{/en}}
                            {{#ru}}Хобби{{/ru}}</b><br>
                        <input id="hobby" type="text" v-model="inputData.hobby">
                    </div>
                    <div><b>"Best practices"</b>
                        <div id="best-practices-ask" style="display: inline;" v-on:click="BestPracticesAsk()">
                            <img src="/images/ask.svg" class="ask">
                        </div><br>
                        <textarea name="best-practices" id="best-practices" type="text"
                            v-model="inputData.best_practices"></textarea>
                    </div>
                    <div id="achive-files-input">
                        <b>{{#en}}Achievements{{/en}}{{#ru}}Достижения{{/ru}}</b>
                        <label for="add-file-achiev" class="button-label">{{#en}}Add achievements{{/en}}{{#ru}}Добавить
                            достижения{{/ru}}</label>
                        <input hidden type="file" name="add-file-achiev" id="add-file-achiev"
                            accept="image/jpeg,image/png" v-on:change="AddAchievFile(event)">
                    </div>
                    <div id="achive-file-collection">
                        <div id="left-arrow-block" class="arrow-block">
                            <img id="left-arrow" class="arrow" src="/images/left-arrow.svg" v-on:click="achivePage--"
                                v-show="inputData.achive_files.length > 0 && achivePage != 0">
                        </div>
                        <div id="achive-files-block">
                            <div class="achiev-file" v-for="(file, index) in inputData.achive_files"
                                v-show="index == achivePage">
                                <img v-bind:src="file" width="230px" class="file-photo" v-on:click="ShowPhoto(file)">
                                <img class="cancel" src="/images/cancel.svg" v-on:click="DeleteAchievFile(index)">
                            </div>
                        </div>
                        <div id="right-arrow-block" class="arrow-block">
                            <img id="right-arrow" class="arrow" src="/images/right-arrow.svg" v-on:click="achivePage++"
                                v-show="inputData.achive_files.length > 0 && achivePage != (inputData.achive_files.length - 1)">
                        </div>
                    </div>



                    <div id="dep-photos-input">
                        <b>{{#en}}Archive photos{{/en}}{{#ru}}Архивные фото{{/ru}}</b>
                        <label for="add-dep-photo" class="button-label">{{#en}}Add photo{{/en}}{{#ru}}Добавить
                            фото{{/ru}}</label>
                        <input hidden type="file" name="add-dep-photo" id="add-dep-photo" accept="image/jpeg,image/png"
                            v-on:change="AddGalleryPhoto(event)">
                    </div>
                    <div id="dep-photo-collection">
                        <div id="left-arrow-block" class="arrow-block">
                            <img id="left-arrow" class="arrow" src="/images/left-arrow.svg" v-on:click="depPhotosPage--"
                                v-show="gallery_files.length > 0 && depPhotosPage != 0">
                        </div>
                        <div id="dep-photo-slider">
                            <div class="dep-photo-file" v-for="(file, index) in gallery_files"
                                v-show="index == depPhotosPage">
                                <div class="dep-photo-block">
                                    <img v-bind:src="file.img" width="230px" class="dep-photo"
                                        v-on:click="ShowPhoto(file.img)">
                                    <img class="cancel" src="/images/cancel.svg" v-on:click="DeleteGalleryPhoto(index)">
                                </div>
                                <div class="comment-block">
                                    <textarea class="comment" placeholder="Введите комментарий к фото"
                                        v-model="file.comment" v-on:change="CommentChange(file._id, file.comment)">
                                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="right-arrow-block" class="arrow-block">
                            <img id="right-arrow" class="arrow" src="/images/right-arrow.svg"
                                v-on:click="depPhotosPage++"
                                v-show="gallery_files.length > 0 && depPhotosPage != (gallery_files.length - 1)">
                        </div>
                    </div>





                </div>
                <div id="form-data-que-inputs">
                    <div><b>{{#en}}Do you maintain relationships with other SPbSIT(TU) graduates? If so, in what
                            forms?{{/en}}
                            {{#ru}}Поддерживаете ли Вы отношения с другими выпускниками СПбГТИ? Если да, то в каких
                            формах?{{/ru}}</b><br>
                        <v-select class="form-vue-select" :options="q1" label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                            v-model="inputData.q1" :reduce="q => q.{{#en}}en{{/en}}{{#ru}}ru{{/ru}}" multiple>
                            <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}</div>
                        </v-select>
                    </div>
                    <div><b>{{#en}}How can the University be useful for your activities?{{/en}}
                            {{#ru}}Чем может быть полезен университет для Вашей деятельности?{{/ru}}</b><br>
                        <v-select class="form-vue-select" :options="q2" label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                            v-model="inputData.q2" :reduce="q => q.{{#en}}en{{/en}}{{#ru}}ru{{/ru}}" multiple>
                            <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}</div>
                        </v-select>
                    </div>
                    <div><b>{{#en}}What can the Alumni Association do for you?{{/en}}
                            {{#ru}}Чем Ассоциация выпускников может быть Вам полезна?{{/ru}}</b><br>
                        <input id="q3" type="text" name="q3" v-model="inputData.q3">
                    </div>
                    <div><b>{{#en}}Can you assist in the development of the University? If so, in what form?{{/en}}
                            {{#ru}}Можете ли Вы оказать содействие в развитии университета? Если да, то в какой
                            форме?{{/ru}}</b><br>
                        <v-select class="form-vue-select" :options="q4" label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                            v-model="inputData.q4" :reduce="q => q.{{#en}}en{{/en}}{{#ru}}ru{{/ru}}" multiple>
                            <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}</div>
                        </v-select>
                    </div>
                    <div><b>{{#en}}Do you have any materials that can be used in the University history museum? If so,
                            which ones?{{/en}}
                            {{#ru}}Есть ли у вас материалы, которые могут быть использованы в музее истории
                            университета? Если да, то какие?{{/ru}}</b><br>
                        <v-select class="form-vue-select" :options="q5" label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                            v-model="inputData.q5" :reduce="q => q.{{#en}}en{{/en}}{{#ru}}ru{{/ru}}" multiple>
                            <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}</div>
                        </v-select>
                    </div>
                    <div><b>{{#en}}What additional information do you want to provide about yourself?{{/en}}
                            {{#ru}}Какие сведения Вы хотите сообщить о себе дополнительно?{{/ru}}</b><br>
                        <input id="q6" type="text" name="q6" v-model="inputData.q6">
                    </div>
                    <div><b>{{#en}}Are you ready to take part in the festive celebrations dedicated to the anniversary
                            of the Department? And with what?{{/en}}
                            {{#ru}}Готовы ли вы принять участие в праздничном концерте, посвященном юбилею кафедры? И с
                            чем?{{/ru}}</b><br>
                        <input id="q7" type="text" name="q7" v-model="inputData.q7">
                    </div>
                    <div id="lecturer">
                        <div id="is-lecturer-checkbox-block">
                            <input type="checkbox" id="is-lecturer-checkbox" v-model="inputData.isLecturer"
                                style="width: auto;height: auto;">
                            <label id="is-lecturer-label" for="is-lecturer-checkbox"><b>{{#en}}Are you a teacher?{{/en}}
                                    {{#ru}}Являетесь ли вы преподавателем?{{/ru}}</b></label>
                        </div>
                        <div v-show="inputData.isLecturer" id="is-lecturer-disc-block">
                            <div class="discipline-block" v-for="(discipline, index) in inputData.disciplines">
                                <input class="discipline" type="text" v-model="discipline.value"
                                    placeholder="{{#ru}}Введите название дисциплины, которую вы ведёте{{/ru}}{{#en}}Enter the name of the discipline you teach{{/en}}">
                                <img class="close-soc cancel" src="/images/cancel.svg"
                                    v-on:click="DeleteElementFromArray(index, inputData.disciplines)">
                            </div>
                            <button class="form-button" id="add-disc-button"
                                v-on:click="AddElementToArray(inputData.disciplines)">
                                {{#en}}Add a discipline{{/en}}{{#ru}}Добавить дисциплину{{/ru}}
                            </button>
                        </div>
                    </div>
                    <div id="partner">
                        <div id="is-partner-checkbox-block">
                            <input type="checkbox" id="is-partner-checkbox" v-model="inputData.isPartner"
                                style="width: auto;height: auto;">
                            <label id="is-partner-label" for="is-partner-checkbox"><b>
                                    {{#en}}Are you a representative of a partner?{{/en}}
                                    {{#ru}}Являетесь ли вы представителем партнёра кафедры?{{/ru}}</b></label>
                        </div>

                            <div v-show="inputData.isPartner"><b>{{#en}}Name of the company you represent{{/en}}
                                    {{#ru}}Название компании, представителем которой вы являетесь{{/ru}}</b><br>
                                <div id="v-model-select" class="companies">
                                    <select class="comp_style" v-model="inputData.partner">
                                        <div class="graduate" v-for="partner in inputData">
                                            <img v-bind:src="partner.logo" width="100%" class="">
                                            <div class="info">
                                                <p v-text="partner.representname"></p>
                                                <p v-text="partner.companyname"></p>
                                                <p v-if="partner.year"
                                                    v-text="'{{#en}}Year of start partnership{{/en}}{{#ru}}Год начала партнёрства{{/ru}}: ' + partner.year">
                                                </p>
                                                <p v-if="partner.endyear"
                                                    v-text="'{{#en}}Year of end partnership{{/en}}{{#ru}}Год завершения партнёрства{{/ru}}: ' + partner.endyear">
                                                </p>
                                                <p v-if="partner.countrycity" v-text="'{{#en}}City{{/en}}{{#ru}}Город{{/ru}}: ' + partner.countrycity"></p>
                                            </div>
                                            </a>
                                        </div>
                                      <option disabled value="">
                                        {{#en}}Select the company you represent{{/en}}
                                        {{#ru}}Выберите компанию, представителем которой вы являетесь{{/ru}}</option>
                                    <option v-for="partner in partnersList" v-text="partner.name" v-value="partner._id"></option>
                                    </select>
                                  </div>
                            </div>
                        </div>

                    </div>
                    <div id="privacy-checkbox-block">
                        <input type="checkbox" id="privacy-checkbox-block" onclick="terms_changed(this)" v-model="inputData.Security" style="width: auto; height: auto;" checked required>
                        <label id="privacy-label" for="privacy-checkbox"><b>
                            {{#en}}}I agree with the privacy policy{{/en}}
                            {{#ru}}Я согласен с политикой конфидециальности*{{/ru}}</b></label>
                    </div>
                </div>
            </div>
            <button class="form-button" id="send-form">{{#en}}Save an application form{{/en}}
                {{#ru}}Сохранить анкету{{/ru}}</button>
        </div>
        <script>function terms_changed(termsCheckBox){
            //If the checkbox has been checked
            if(termsCheckBox.checked){
                //Set the disabled property to FALSE and enable the button.
                document.getElementById("send-form").disabled = false;
            } else{
                //Otherwise, disable the submit button.
                document.getElementById("send-form").disabled = true;
            }
        }</script>
    </section>
    <div id="modal-add-photo" class="closed">
        <div id="modal-add-photo-block">
            <div id="modal-add-photo-header">
                <div id="add-photo-header" style="padding-bottom: 7px;">{{#en}}Upload a photo and select an area for the
                    avatar{{/en}}
                    {{#ru}}Загрузите фотографию и выделите область для аватара{{/ru}}</div>
            </div>
            <div id="error-message" class="closed" style="padding-bottom: 7px; color: red;">{{#en}}The area is not
                selected!{{/en}}
                {{#ru}}Область не выбрана!{{/ru}}</div>
            <div id="photo-border">
                <img id="myimg">
            </div>
            <div id="modal-add-photo-buttons">
                <label class="button-label" for="photo">{{#en}}Select a file{{/en}}{{#ru}}Выбрать файл{{/ru}}</label>
                <input hidden id="photo" type="file" accept="image/jpeg,image/png">
                <button class="form-button" id="add-photo">{{#en}}Save{{/en}}{{#ru}}Сохранить{{/ru}}</button>
            </div>
        </div>
    </div>
    <div id="modal-window" class="closed">
        <div id="modal-window-content">
            <div id="model-window-text">
                <p>{{#en}}Do you really want to delete a photo?{{/en}}
                    {{#ru}}Вы действительно хотите удалить фото?{{/ru}}</p>
            </div>
            <div id="modal-window-buttons">
                <button class="form-button" id="button-yes">{{#en}}Yes{{/en}}
                    {{#ru}}Да{{/ru}}</button>
                <button class="form-button" id="button-no">{{#en}}No{{/en}}
                    {{#ru}}Нет{{/ru}}</button>
            </div>
        </div>
    </div>
    <div id="modal-show-photo" class="closed">
        <img>
    </div>
    <div id="modal-msg" class="closed">
        <p style="margin-top: 16px; margin-bottom: 16px;"></p>
    </div>
    <div id="back" class="closed">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {{>base_footer}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="/javascripts/vue-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="module" src="/javascripts/formScripts.js"></script>
    <script src="/javascripts/cropper.min.js"></script>
</body>

</html>
