<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">

    <head>
        {{#ru}} <title>Новости</title>{{/ru}}
        {{#en}} <title>News</title>{{/en}}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/it.png">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.css'>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/headerStyles.css">
        <link rel="stylesheet" href="/stylesheets/navigationPic.css">
        <link rel="stylesheet" href="/stylesheets/news.css">
        <link rel="stylesheet" href="/stylesheets/footerStyles.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>
        {{>base_header}}
        {{#isAdmin}}
        <section id="buttons-link-section">
            <div id="buttons-link-content">
                <div id="statistic-block" class="button-link-block">
                    <a href="" target="_blank">
                        <button id="statistic-button" class="button-link">
                            Редактировать раздел 
                        </button>
                    </a>
                </div>
            </div>
        </section>
        {{/isAdmin}}
        <div class="news_section">
            <div id="NewsHeader">{{#ru}}Последние новости{{/ru}}{{#en}}Latest news{{/en}}</div>
            <div id="newsList">
                <!-- Начало шаблона -->
                <div class="news">
                    <p class="newsName">Встреча с потенциальным работодателем</p>
                    <div class="images_news">
                    <img class="img_p" src="https://technolog.edu.ru/public/userfiles/news/петербургцемент/IMG_6398.JPG" height="180px" width="348px">
                    <img class="img_p" src="https://technolog.edu.ru/public/userfiles/news/петербургцемент/IMG_6399.JPG" height="180px" width="348px">
                    <img class="img_p" src="https://technolog.edu.ru/public/userfiles/news/петербургцемент/IMG_6432.JPG" height="180px" width="348px">
                </div>
                    <div class="news_text">
                    <p>
                        14 апреля Технологический институт с рабочим визитом посетила делегация из компании «Петербургцемент» (г. Сланцы), входящей в состав современного промышленного Холдинга «ЕВРОЦЕМЕНТ груп».

                        <p>«Петербургцемент» – высокотехнологичное цементное предприятие нового поколения, его запуск состоялся в ноябре 2010 года. Завод «Петербургцемент» применяет наиболее эффективную сухую технологию производства клинкера и выпускает популярные марки цемента навалом и в мешках.</p>
                    Завод оснащен современным оборудованием ведущих европейских производителей.
                    <p>Директор Управления персоналом Юлия Румянцева и менеджер по персоналу Дарья Фендрикова встретились с  руководителями интересующих их направлений подготовки, сотрудниками Центра карьеры и трудоустройства СПбГТИ(ТУ) и студентами кафедр  автоматизации процессов химической промышленности, систем автоматизированного проектирования и управления и химической технологии тугоплавких неметаллических и силикатных материалов.  </p>
                    <p>В ходе беседы представители компании пригласили студентов Техноложки на оплачиваемые практику и стажировку с последующим трудоустройством, а также рассказали об условиях работы, оплате труда, перспективе карьерного роста, социальных преимуществах и т.д.</p>
                    </div>
                    <div>
                        <p class="newsDate">15 апреля 2022 года</p>
                    </div>
                </div>
                <hr>
                <!-- Конец шаблона -->
            </div>

            <div id="newsList">
                <!-- Начало шаблона -->
                <div class="news">
                    <p class="newsName">Открылся сайт Лаборатории мирового уровня (ЛМУ). На портале размещена информация о ЛМУ и новости проекта. </p>
                    <div class="images_news">
                    <img class="img_p" src="https://technolog.edu.ru/public/userfiles/images/163/Конф1/Labsait.JPG">
                </div>
                    <div class="news_text">
                    <p>
                        14 апреля Технологический институт с рабочим визитом посетила делегация из компании «Петербургцемент» (г. Сланцы), входящей в состав современного промышленного Холдинга «ЕВРОЦЕМЕНТ груп».

                        <p>«Петербургцемент» – высокотехнологичное цементное предприятие нового поколения, его запуск состоялся в ноябре 2010 года. Завод «Петербургцемент» применяет наиболее эффективную сухую технологию производства клинкера и выпускает популярные марки цемента навалом и в мешках.</p>
                    Завод оснащен современным оборудованием ведущих европейских производителей.
                    <p>Директор Управления персоналом Юлия Румянцева и менеджер по персоналу Дарья Фендрикова встретились с  руководителями интересующих их направлений подготовки, сотрудниками Центра карьеры и трудоустройства СПбГТИ(ТУ) и студентами кафедр  автоматизации процессов химической промышленности, систем автоматизированного проектирования и управления и химической технологии тугоплавких неметаллических и силикатных материалов.  </p>
                    <p>В ходе беседы представители компании пригласили студентов Техноложки на оплачиваемые практику и стажировку с последующим трудоустройством, а также рассказали об условиях работы, оплате труда, перспективе карьерного роста, социальных преимуществах и т.д.</p>
                    </div>
                    <div>
                        <p class="newsDate">15 апреля 2022 года</p>
                    </div>
                </div>
                <hr>
                <!-- Конец шаблона -->
            </div>
        </div>
        {{#news}}
        <section id="news">
            <div id="newsContent">
                <div id="newsHeader">{{#ru}}Главные новости{{/ru}}{{#en}}Main news{{/en}}</div>
                <div id="newsList">
                    <!-- Начало шаблона -->
                    {{#news}}
                    <div class="news">
                        <img src="{{image}}" height="171px" width="348px">
                        <p class="newsName">{{title}}</p>
                        <p class="newsText">{{text}}</p>
                        <div>
                            <p class="newsDate">{{date}}</p>
                        </div>
                    </div>
                    {{/news}}
                    <!-- Конец шаблона -->
                </div>
            </div>
        </section>
        {{/news}}
        <div></div>
        {{#en}}
        <style>
            #aboutUsHeader {
                text-align: center;
                width: 100%;
            }

            #uniPicContent>div {
                height: auto;
            }

            @media (max-width: 1170px) {
                #aboutUsHeader {
                    width: 315px;
                }
            }
        </style>
        {{/en}}
        {{>base_footer}}
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/javascripts/jquery.spincrement.min.js"></script>
        <script src="/javascripts/custom.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.js'></script>
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js'></script>
        <script src="/javascripts/home.js"></script>
        <script src="/javascripts/news.js"></script>
    </body>

</html>
