<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">
    <head>
        <title>
            {{#en}}Alumni statistics{{/en}}
            {{#ru}}Статистика выпускников{{/ru}}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/it.png">
        <link rel="stylesheet" href="/stylesheets/headerStyles.css">
        <link rel="stylesheet" href="/stylesheets/footerStyles.css">
        <link rel="stylesheet" href="/stylesheets/pagesStyles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
        <link rel="stylesheet" href="/stylesheets/adminStatisticStyles.css">
        <link rel="stylesheet" href="/stylesheets/map.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    </head>
    <body>
        {{>base_header}}
        <section id="charts">
            <div id="charts-content">
                <div id="charts-header-block">
                    <h1 id="charts-header">
                        Статистика партнёров
                    </h1>
                </div>
                <div id="charts-content-block">
                    <div id="chart-ended-block" class="chart-block" v-if="ShowBlock(ended)">
                        <div id="chart-ended-header" class="chart-header">
                            <h3>Учился на САПР</h3>
                        </div>
                        <div id="chart-ended">
                            <pie-chart :data="ended"></pie-chart>
                        </div>
                    </div>
                    <div id="chart-year-block" class="chart-block" v-if="ShowBlock(startPartnership)">
                        <div id="chart-year-header" class="chart-header">
                            <h3>Год начала партнерства</h3>
                        </div>
                        <div id="chart-year">
                            <column-chart :colors="['#4682B4']" :data="startPartnership" xtitle="Год" ytitle="Количество">
                            </column-chart>
                        </div>
                    </div>
                    <div id="chart-count_users_company-block" class="chart-block" v-if="ShowBlock(count_users_company)">
                        <div id="chart-count_users_company-header" class="chart-header">
                            <h3>Количество представителей</h3>
                        </div>
                        <div id="chart-count_users_company">
                            <column-chart
                                :colors="['#32CD32']"
                                :data="count_users_company"
                                xtitle="Компания"
                                ytitle="Кол-во">
                            </column-chart>
                        </div>
                    </div>
                    <div id="chart-city-block" class="chart-block" v-if="ShowBlock(city)">
                        <div id="chart-city-header" class="chart-header">
                            <h3>Год окончания партнерства</h3>
                        </div>
                        <div id="chart-city">
                            <column-chart
                                :colors="['#4682B4']"
                                :data="endPartnership"
                                xtitle="Год"
                                ytitle="Количество">
                            </column-chart>
                        </div>
                    </div>
                    <div id="chart-field_activety-block" class="chart-block" v-if="ShowBlock(field_activety)">
                        <div id="chart-field_activety-header" class="chart-header">
                            <h3>Направление подготовки</h3>
                        </div>
                        <div id="chart-field_activety">
                            <column-chart
                                :colors="['#8B008B']"
                                :data="field_activety"
                                xtitle="Направление подготовки"
                                ytitle="Кол-во выпускников">
                            </column-chart>
                        </div>
                    </div>
                    <div id="chart-focus-block" class="chart-block" v-if="ShowBlock(focus)">
                        <div id="chart-focus-header" class="chart-header">
                            <h3>Направленность</h3>
                        </div>
                        <div id="chart-focus">
                            <column-chart
                                :colors="['#FF4500']"
                                :data="focus"
                                xtitle="Направленность"
                                ytitle="Кол-во выпускников">
                            </column-chart>
                        </div>
                    </div>
                    <h1 id="charts-header">
                        Карта представителей партнёров кафедры
                    </h1>
                    <div class="grid-wrapper">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </section>
        <div id="modal-msg" style="display: none;">
            <p style="margin-top: 16px; margin-bottom: 16px;"></p>
        </div>
        {{>base_footer}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
        <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
        <script src="https://unpkg.com/vue-chartkick@0.6.1"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="/javascripts/adminPartnerStatisticScripts.js" type="module"></script>
    </body>
</html>
