<footer>
    <div id="footerContent">
        <div id="footerLeftContent">
            <div id="uniName">
                <img src="/images/techSymb.png">
                {{#ru}}<p>Санкт-Петербургский государственный технологический институт<br>(технический университет)</p>
                {{/ru}}
                {{#en}}<p>Saint-Petersburg State Institute of Technology<br>(Technical University)</p>{{/en}}
            </div>
            <div id="kafName">
                <img src="/images/saprSymbFooter.png">
                {{#ru}}<p>Кафедра систем автоматизированного проектирования и<br>управления</p>{{/ru}}
                {{#en}}<p>The CAD Department</p>{{/en}}
            </div>
            <div id="contactInf">
                <p><strong>{{#ru}}E-mail кафедры:{{/ru}}{{#en}}E-mail (department):{{/en}}</strong>
                    CAD_dept@technolog.edu.ru, pnsapr@gmail.com<br><br></p>
                {{#ru}}<p><strong>Адрес:</strong> Московский пр-т., 26, г. Санкт-Петербург</p>{{/ru}}
                {{#en}}<p><strong>Address:</strong> 26 Moskovsky Ave., Saint Petersburg</p>{{/en}}
            </div>
            <div id="Policy">
                <p><strong><a href="/politic" style="text-decoration: none; color: white;">{{#ru}}Согласие на обработку
                            данных{{/ru}}{{#en}}Consent to data processing{{/en}}</a></strong>
                </p>
            </div>
        </div>
        <div id="footerRightContent">
            <div id="map">
                <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4bdb472630663b28ced0d6db84fb1442cc9cf1738401e14ad610550b612cf7dd&amp;width=368&amp;height=352&amp;lang={{#ru}}ru_RU{{/ru}}{{#en}}en{{/en}}&amp;scroll=true"></script>
            </div>
        </div>
    </div>
</footer>