<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">

<head>
    {{#ru}} <title>Редактирование новости</title>{{/ru}}
    {{#en}} <title>Edit news</title>{{/en}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/it.png">
    <link rel="stylesheet" href="/stylesheets/headerStyles.css">
    <link rel="stylesheet" href="/stylesheets/footerStyles.css">
    <link rel="stylesheet" href="/stylesheets/formStyles.css">
    <link rel="stylesheet" href="/stylesheets/news.css">
    <link rel="stylesheet" href="/stylesheets/cropper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
    <link rel="stylesheet" href="/stylesheets/preloaderStyles.css">
</head>

<body>
    {{>base_header}}
    <section id="form-data">
        <div id="form-data-content">
            <h1 id="form-data-head">
                {{#en}}Edit data about news{{/en}}
                {{#ru}}Редактировать данные о новости{{/ru}}</h1>
            <div id="form-data-inputs">
                <div id="news">
                    <div id="is-news-block" class="newsAdmin">
                        <div id="input-comp-logo-block"><b>{{#en}}Photos{{/en}}
                                {{#ru}}Фотографии, относящиеся к новости{{/ru}}</b> 
                                <!--Тут надо добавить возможность добавления несколько фотографий -->
                            <label class="button-label" for="comp-logo-input">{{#en}}Add photo{{/en}}
                                {{#ru}}Добавить фото{{/ru}}</label>
                            <input id="comp-logo-input" hidden type="file" accept="image/jpeg,image/png" v-on:change="AddNewsImg(event)">
                        </div>
                        <div id="news-logo-block" v-if="inputData.images">
                            <ol v-for="(img, index) in inputData.images">
                                <img class="cancel" src="/images/cancel.svg" style="margin-left: 5px;" v-on:click="DeleteNewsImg(index)">
                                <img id="news-logo" v-bind:src="img" class="img_p">
                            </ol>
                        </div>
                        <div><b>{{#en}}Full name of the news{{/en}}
                                {{#ru}}Название новости{{/ru}}</b><br>
                            <textarea class="comp_style" v-model="inputData.heading" style="width: 490px; height: 30px;"></textarea>
                        </div>
                        <div><b>{{#en}}Brief description of the news{{/en}}
                                {{#ru}}Краткое описание новости{{/ru}}</b><br>
                            <div id="v-model-select">
                                <textarea class="comp_style" v-model="inputData.text" style="width: 490px; height: 150px;"></textarea>
                            </div>
                        </div>
                        <div><b>{{#en}}Full description of the news{{/en}}
                                {{#ru}}Полное описание новости{{/ru}}</b><br>
                            <div id="v-model-select">
                                <textarea class="comp_style" v-model="inputData.full_text" style="width: 490px; height: 500px;"></textarea>
                            </div>
                        </div>
                        <div><b>{{#en}}Date{{/en}}
                                {{#ru}}Дата{{/ru}}</b><br>
                            <div id="v-model-select">
                                <input type="date" class="comp_style" v-model="inputData.date">
                            </div>
                        </div>
                    </div>
                    <button class="form-button" id="send-form">
                        {{#en}}Add news{{/en}}
                        {{#ru}}Соxранить{{/ru}}
                    </button>
                </div>
                <div id="modal-msg" style="display: none">
                    <p style="margin-top: 16px; margin-bottom: 16px;"></p>
                </div>
            </div>
            </div>
    </section>
    {{>base_footer}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="/javascripts/vue-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="/javascripts/edit_news.js" type="module"></script>
    <script src="/javascripts/cropper.min.js"></script>
</body>

</html>
