<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">

<head>
    {{#ru}} <title>Редактирование новостей</title>{{/ru}}
    {{#en}} <title>Edit news</title>{{/en}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/it.png">
    <link rel="stylesheet" href="/stylesheets/headerStyles.css">
    <link rel="stylesheet" href="/stylesheets/footerStyles.css">
    <link rel="stylesheet" href="/stylesheets/pagesStyles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
    <link rel="stylesheet" href="/stylesheets/adminStyles.css">
</head>

<body>
    {{>base_header}}
    <section id="buttons-link-section">
        <div id="buttons-link-content">
            <div id="statistic-block" class="button-link-block">
                <a href="/admin/add_news" target="_blank">
                    <button id="statistic-button" class="button-link">
                        Добавить новость
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section id="table-section">
        <div id="table-block">
            <table id="admin-table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                        <th>Город</th>
                        <th>Изменить статус</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                        <th>Город</th>
                        <th>Изменить статус</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
    {{>pages}}
    <section id="save-button-section">
        <button id="save-button">
            Сохранить изменения
        </button>
    </section>

    <section id="table-section">
        <div id="table-block">
            <table id="partners-table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Название компании</th>
                        <th>Год начала партнёрства</th>
                        <th>Год завершения партнёрства</th>
                        <th>Страна / Город</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Название компании</th>
                        <th>Год начала партнёрства</th>
                        <th>Год завершения партнёрства</th>
                        <th>Страна / Город</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
    {{>base_footer}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="/javascripts/vue-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="module" src="/javascripts/edit_main_page.js"></script>
    <script src="/javascripts/cropper.min.js"></script>
</body>

</html>