<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">
    <head>
        <title>  
            {{#ru}}Редактирование галереи{{/ru}} 
            {{#en}}Gallery editing{{/en}}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/it.png">
        <link rel="stylesheet" href="/stylesheets/headerStyles.css">
        <link rel="stylesheet" href="/stylesheets/footerStyles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
        <link rel="stylesheet" href="/stylesheets/galleryAdminStyles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link rel="stylesheet" href="/stylesheets/preloaderStyles.css">
        <link rel="stylesheet" href="/stylesheets/pagesStyles.css">
    </head>
    <body>
        {{>base_header}}
        <div id="main-content">
            <section id="gallery-header">
                <h1>Редактирование галлереи</h1>
            </section>
            <section id="gallery">
                <div id="gallery-content">
                    <div class="photo-block"
                        v-for="photo in allPhotos"
                        v-bind:class="{ hide_img: !photo.status }">
                        <div class="img-block">
                            <img class="photo"
                                v-bind:src="photo.img"
                                v-on:click="ShowPhoto(photo.img)">
                            <img class="visibility-svg"
                                v-show="photo.status"
                                src="/images/visibility_vis.svg"
                                v-on:click="ChangeStatus(photo)">
                            <img class="visibility-svg"
                                v-show="!photo.status"
                                src="/images/visibility_hide.svg"
                                v-on:click="ChangeStatus(photo)">
                        </div>
                        <div class="comment-block"
                            v-if="photo.comment">
                            <p class="comment" v-text="photo.comment"></p>
                        </div>
                    </div>
                </div>
            </section>
            {{>pages}}
            <section id="save-button-section">
                <div id="save-button-content">
                    <div id="save-button-block">
                        <button id="save-button"
                                v-on:click="SaveChanges">
                                Сохранить изменения
                        </button>
                    </div>
                </div>
            </section>
            <div id="back" v-show="loading">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <div id="modal-show-photo" style="display: none;">
            <img>
        </div>
        <div id="modal-msg" style="display: none;">
            <p style="margin-top: 16px; margin-bottom: 16px;"></p>
        </div>
        {{>base_footer}}
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script type="module" src="/javascripts/galleryAdminScripts.js"></script>
    </body>
</html>