<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">

    <head>
        {{#ru}} <title>Новости</title>{{/ru}}
        {{#en}} <title>News</title>{{/en}}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/it.png">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.css'>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/headerStyles.css">
        <link rel="stylesheet" href="/stylesheets/navigationPic.css">
        <link rel="stylesheet" href="/stylesheets/news.css">
        <link rel="stylesheet" href="/stylesheets/footerStyles.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>
        {{>base_header}}
        {{#isAdmin}}
        <section id="buttons-link-section">
            <div id="buttons-link-content">
                <div id="statistic-block" class="button-link-block">
                    <a href="/news/edit_section">
                        <button id="statistic-button" class="button-link">
                            Редактировать раздел 
                        </button>
                    </a>
                </div>
            </div>
        </section>
        {{/isAdmin}}
        <div class="news_section" id="news_section">
            <div id="NewsHeader">{{#ru}}Последние новости{{/ru}}{{#en}}Latest news{{/en}}</div>
            <div id="newsList" v-for="newsItem in inputData">
                <!-- Начало шаблона -->
                <div class="news">
                    <p class="newsName" v-text="newsItem.heading"></p>
                    <div class="images_news">
                    <ol v-for="img in newsItem.images">
                        <img v-bind:src="img" class="img_p"/>
                    </ol>
                </div>
                    <div class="news_text">
                        <p class="text" v-text="newsItem.text"></p>
                        <p class="full_text" v-text="newsItem.full_text"></p>
                        </div>
                        <div>
                            <p class="newsDate" v-text="newsItem.date"></p>
                        </div>
                </div>
                <hr>
                <!-- Конец шаблона -->
            </div>

        </div>
        {{#news}}
        <section id="news">
            <div id="newsContent">
                <div id="newsHeader">{{#ru}}Главные новости{{/ru}}{{#en}}Main news{{/en}}</div>
                <div id="newsList">
                    <!-- Начало шаблона -->
                    {{#news}}
                    <div class="news">
                        <img src="{{image}}" height="171px" width="348px">
                        <p class="newsName">{{title}}</p>
                        <p class="newsText">{{text}}</p>
                        <div>
                            <p class="newsDate">{{date}}</p>
                        </div>
                    </div>
                    {{/news}}
                    <!-- Конец шаблона -->
                </div>
            </div>
        </section>
        {{/news}}
        <div></div>
        {{#en}}
        <style>
            #aboutUsHeader {
                text-align: center;
                width: 100%;
            }

            #uniPicContent>div {
                height: auto;
            }

            @media (max-width: 1170px) {
                #aboutUsHeader {
                    width: 315px;
                }
            }
        </style>
        {{/en}}
        {{>base_footer}}
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/javascripts/jquery.spincrement.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.js'></script>
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js'></script>
        <!-- <script src="/javascripts/home.js" type="module"></script> -->
        <script src="/javascripts/news.js" type="module"></script>
    </body>

</html>
