<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">

    <head>
        {{#ru}} <title>Редактирование партнёра</title>{{/ru}}
        {{#en}} <title>Edit partner</title>{{/en}}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/it.png">
        <link rel="stylesheet" href="/stylesheets/headerStyles.css">
        <link rel="stylesheet" href="/stylesheets/footerStyles.css">
        <link rel="stylesheet" href="/stylesheets/formStyles.css">
        <link rel="stylesheet" href="/stylesheets/cropper.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
        <link rel="stylesheet" href="/stylesheets/preloaderStyles.css">
    </head>

    <body>
        {{>base_header}}
        <section id="form-data">
            <div id="form-data-content">
                <h1 id="form-data-head">
                    {{#en}}Edit data about parthner{{/en}}
                    {{#ru}}Редактирование данныx о выбранном партнёре{{/ru}}</h1>
                <div id="form-data-inputs">   
                <div id="partner">
                <div id="is-partner-block" class="partnerAdmin">
                    <div id="input-comp-logo-block"><b>{{#en}}Company logo{{/en}}
                            {{#ru}}Логотип компании{{/ru}}</b>
                        <label class="button-label" for="comp-logo-input">{{#en}}Add logo{{/en}}{{#ru}}Добавить
                            логотип{{/ru}}</label>
                        <input id="comp-logo-input" hidden type="file" accept="image/jpeg,image/png"
                            v-on:change="AddCompLogo(event)">
                    </div>
                    <div id="partner-logo-block" v-if="inputData.logo">
                        <img id="partner-logo" v-bind:src="inputData.logo">
                        <img class="cancel" src="/images/cancel.svg" style="margin-left: 5px;"
                            v-on:click="DeleteCompLogo">
                    </div>
                    <div><b>{{#en}}Full name of the company{{/en}}
                        {{#ru}}Название компании полное{{/ru}}</b><br>
                    <div id="v-model-select">
                        <input class="comp_style" v-model="inputData.companyFullName">
                    </div>
                </div>
                <div><b>{{#en}}Short name of the company{{/en}}
                        {{#ru}}Название компании короткое{{/ru}}</b><br>
                        <div id="v-model-select">
                            <input class="comp_style" v-model="inputData.companyName">
                          </div>
                    </div>
                    <div><b>{{#en}}The country and city where the company is located{{/en}}
                        {{#ru}}Страна и город, в которой располагается компания{{/ru}}</b><br>
                    <div id="v-model-select">
                        <input class="comp_style" v-model="inputData.country_city">
                      </div>
                    </div>
                    <div><b>{{#en}}Full name of the company representative{{/en}}
                        {{#ru}}ФИО представителей компании{{/ru}}</b><br>
                    <div id="v-model-select">
                        <textarea class="comp_style" v-model="inputData.represent_name"></textarea>
                      </div>
                    </div>
                    <div><b>{{#en}}Partnership start year{{/en}}
                            {{#ru}}Год начала партнёрства с компанией{{/ru}}</b><br>
                        <input id="partner-year" v-model="inputData.year" type="number" placeholder="YYYY" min="1940" max="2100">
                    </div>
                    <div><b>{{#en}}Partnership end year{{/en}}
                        {{#ru}}Год завершения партнёрства с компанией{{/ru}}</b><br>
                        <input id="partner-year" v-model="inputData.end_year" type="number" placeholder="YYYY" min="1940" max="2100">
                    </div>
                    <div><b>{{#en}}Joint projects{{/en}}
                            {{#ru}}Совместные проекты{{/ru}}</b><br>
                        <textarea v-model="inputData.projects"></textarea>
                    </div>
                    <div><b>{{#en}}About company{{/en}}
                            {{#ru}}О компании{{/ru}}</b><br>
                        <textarea v-model="inputData.about"></textarea>
                    </div>
                    <div><b>{{#en}}Link to the company's website{{/en}}
                            {{#ru}}Ссылка на сайт компании{{/ru}}</b><br>
                        <input v-model="inputData.link">
                    </div>
    
                    <div class="vacancy"><b>{{#en}}Vacancies offered by you to graduates/students{{/en}}
                        {{#ru}}Доступные вакансии выпускникам/студентам{{/ru}}</b><br>
                        <div class="soc" v-for="(vacancy, index) in inputData.vacancies">
                        <div>
                            <textarea class="vac_area" placeholder="{{#en}}Enter the name of the proposed position{{/en}}{{#ru}}Введите название предлагаемой должности{{/ru}}"
                            v-model="vacancy.name"></textarea>
    
                            <img class="close-soc cancel" src="/images/cancel.svg"
                                v-on:click="DeleteElementFromArray(index, inputData.vacancies)">
                        </div>
                        <textarea class="vac_area" placeholder="{{#en}}Enter a brief description of responsibilities{{/en}}{{#ru}}Введите краткое описание обязанностей{{/ru}}"
                            v-model="vacancy.description"></textarea>
                    </div>
                    <button class="form-button" id="button-add-social-network"
                        v-on:click="AddElementToArray(inputData.vacancies)">
                        {{#en}}Add new vacancy{{/en}}
                        {{#ru}}Добавить новую вакансию{{/ru}}
                    </button>
                    </div>
                </div>
                    <button class="form-button" id="send-form">
                        {{#en}}Update data{{/en}}
                        {{#ru}}Обновить данные{{/ru}}
                    </button>
            </div>
        </div>
    </section>

        {{>base_footer}}
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
        <script src="/javascripts/vue-select.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="/javascripts/editPartner.js" type="module"></script>
        <script src="/javascripts/cropper.min.js"></script>
    </body>

</html>
