<!DOCTYPE html>
<html lang="{{#en}}en{{/en}}{{^en}}ru{{/en}}">

<head>
    <title>
        {{#ru}}Найти выпускников{{/ru}}
        {{#en}}Find graduates{{/en}}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/it.png">
    <link rel="stylesheet" href="/stylesheets/headerStyles.css">
    <link rel="stylesheet" href="/stylesheets/footerStyles.css">
    <link rel="stylesheet" href="/stylesheets/searchStyles.css">
    <link rel="stylesheet" href="/stylesheets/pagesStyles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
</head>

<body>
    {{>base_header}}
    <div id="head_text">
        <h1>
            {{#ru}}Выпускники кафедры{{/ru}}
            {{#en}}Graduates{{/en}}
        </h1>
    </div>
    <div id="mainBlock">
        <section id="inputData">
            <div id="inputDataContent">
                {{#ru}}<h1>Введите данные для поиска</h1>{{/ru}}
                {{#en}}<h1>Enter the search data</h1>{{/en}}
                <div id="inputs">
                    <div id="inputs-block">
                        <div><b>
                                {{#en}}Last name{{/en}}
                                {{#ru}}Фамилия{{/ru}}
                            </b><br>
                            <input class="text-input" v-model="surname">
                        </div>
                        <div><b>
                                {{#en}}First name{{/en}}
                                {{#ru}}Имя{{/ru}}
                            </b><br>
                            <input class="text-input" v-model="name">
                        </div>
                        <div><b>
                                {{#en}}Patronymic{{/en}}
                                {{#ru}}Отчество{{/ru}}
                            </b><br>
                            <input class="text-input" v-model="patronymic">
                        </div>
                        <div><b>
                                {{#en}}Group number{{/en}}
                                {{#ru}}Номер группы{{/ru}}
                            </b><br>
                            <input class="text-input" v-model="group">
                        </div>
                        <div><b>
                                {{#en}}Educational orientation{{/en}}
                                {{#ru}}Направленность{{/ru}}
                            </b>
                            <v-select class="search-select education-select" label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                                :options="focusList" :reduce="focus => focus.ru" v-model="focus">
                                <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}
                                </div>
                            </v-select>
                        </div>
                        <div><b>
                                {{#en}}Specialty{{/en}}
                                {{#ru}}Специальность{{/ru}}
                            </b>
                            <v-select class="search-select education-select" label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                                :options="specialtyList" :reduce="specialty => specialty.ru" v-model="specialty">
                                <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}
                                </div>
                            </v-select>
                        </div>
                        <div><b>
                                {{#en}}Year of graduation{{/en}}
                                {{#ru}}Год выпуска{{/ru}}
                            </b><br>
                            <v-select class="search-select" label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                                :options="yearsArray" v-model="year">
                                <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}
                                </div>
                            </v-select>
                        </div>
                        <div>
                            <b>
                                {{#en}}Place of residence{{/en}}
                                {{#ru}}Место проживания{{/ru}}
                            </b>
                            <v-select class="search-select" taggable push-tags label="{{#en}}en{{/en}}{{#ru}}ru{{/ru}}"
                                :options="cities" :reduce="city => city.ru" v-model="city">
                                <div slot="no-options">{{#ru}}Ничего не найдено!{{/ru}}{{#en}}Nothing found!{{/en}}
                                </div>
                            </v-select>
                        </div>
                    </div>
                </div>
                <button id="buttonSearch" v-on:click="searchButtonClick()">
                    {{#en}}Search{{/en}}
                    {{#ru}}Поиск{{/ru}}
                </button>
            </div>
            <div id="no-result" v-show="visibleNoResult">
                <h2>
                    {{#en}}Nothing was found for your request{{/en}}
                    {{#ru}}По вашему запросу ничего не нашлось{{/ru}}</h2>
            </div>
        </section>
        <section id="searchResult">
            <a class="graduate" v-for="graduate in inputData" v-bind:href="'/forms/' + graduate.id" target='_blank'>
                <img v-bind:src="graduate.photo" class="graduatePhoto">
                <div class="info">
                    <p v-text="graduate.full_name"></p>
                    <p v-if="graduate.year_graduation"
                        v-text="'{{#en}}Year of graduation{{/en}}{{#ru}}Год выпуска{{/ru}}: ' + graduate.year_graduation">
                    </p>
                    <p v-if="graduate.city" v-text="'{{#en}}City{{/en}}{{#ru}}Город{{/ru}}: ' + graduate.city"></p>
                </div>
            </a>
        </section>
        {{>pages}}
    </div>
    {{>base_footer}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="/javascripts/vue-select.min.js"></script>
    <script type="module" src="/javascripts/searchScripts.js"></script>
</body>

</html>