body{
    font-family: 'Montserrat';
    margin: 0;
}

#charts,
#charts-header-block,
.chart-header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#charts-content{
    width: 1170px;
}
#charts-content-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.chart-block{
    margin: 30px;
    width: 500px;
}