body{
    font-family: 'Montserrat';
    background-color: rgba(212, 179, 158, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#auth-section{
	background-color: white;
	height: 70vh;
    max-width: 100%;
}

.mainContent{
	padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 600px;
    max-width: 100%;
    background-color: white;
}
.headingText{
    font-size: 30px;
    text-align:  center;
    margin-top: 60px;
}
input{
    width: 290px;
    max-width: 100%;
    height: 25px;
    margin-top: 6px;
    padding: 4px 12px;
}
p{
    margin: 3px 0 5px 0;
}
.header-logo-name > p{
    margin-top: 16px;
    margin-bottom: 16px;
}

.login, .email, .password, .RegButton, .ResetPassButton{
    margin-top: 20px;
    max-width: 100%;
}

.switchButtonsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
}