body{
    font-family: 'Montserrat';
    margin: 0;
    background: rgba(212, 179, 158, 0.16);
}
h1, p{
    word-break: break-word;
}
#msg-head-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
#img-block{
    display: flex;
    justify-content: center;
}
#img-block img{
    width: 350px;
    max-width: 90%;
}
#msg-stack-block{
    margin-left: 10px;
    margin-right: 10px;
}