header {
    width: 100%;
    padding-bottom: 16px;
    padding-top: 20px;
    background: #968c8c;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
}

header p {
    margin: 16px;
}

#headerContent {
    width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-logo-name>p {
    color: white;

    font-size: 13px;
}

#saprIcon {
    margin-left: 11px;
}

#headerRightPart {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#headerRightPart>img {
    margin-left: 12px;
}

header a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

header .navigation {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 10px 0 0;
}

.navigation li a:hover {
    border-bottom: 2px solid #ffffff;
}

.navigation li.active a {
    border-bottom: 2px solid #ffffff;
}

.menu {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
}

.menu-burger {
    display: none;
    width: 64px;
    height: 64px;
}

.menu-burger-svg {
    fill: white;
}


.closed {
    display: none;
    z-index: 0;
}

#switch-lang {
    width: 66px;
    display: flex;
    justify-content: space-around;
    padding: 3px;
    background-color: darkgray;
    cursor: pointer;
    border-radius: 5px;
}


@media(max-width:1170px) {
    #headerContent {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }

    .menu-burger {
        display: block;
    }

    .menu {
        flex-direction: column;
    }

    header .navigation {
        margin: 0;
        padding: 0;
    }

    header li {
        float: unset;
        display: block;
        padding: 10px 0 0 0;
    }

    header nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
    }

    header nav a {
        padding-top: 10px;
    }

    #switch-lang {
        margin-top: 10px;
    }

    #headerLeftPart {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #headerRightPart>img {
        display: none;
    }

    #headerRightPart {
        width: 100%;
        justify-content: center;
    }

    .open {
        display: flex;
    }
}

@media(max-width:425px) {
    #uniIcon {
        display: none;
    }

    #saprIcon {
        display: none;
    }

    .header-logo-name>p {
        margin-left: 0px;
    }
}