body{
    font-family: 'Montserrat';
    margin: 0;
}
header{
    z-index: 6;
}

#NewsHeader{
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
    padding-top: 20px;
    color: #5e5e5e;
    padding-bottom: 40px;
}

.news{
    font-size: 18px;
    margin: 0 auto;
    width: 80em;
    padding-top: 40px;
    word-spacing: 1px;
    background-color: rgba(212, 179, 158, 0.16)
}

.newsName{
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    padding-left: 70px;
}
.img_p{
    height: 30%;
    width: 30%;
    padding: 10px;
    vertical-align: middle;
}

.news_text{
    padding: 0 50px 0 70px ;
}
.newsDate{
    text-align: right;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 25px;
}

.images_news{
    text-align: center;
}

hr {
    border: none;
    height: 3px;
    margin: 40px 0;
    background-image: linear-gradient(to right, #FFF, #494949, #FFF);
}
hr:before,
hr:after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 2px solid #494949;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}
hr:after {
    animation: anim-hr 1s linear infinite;  
}
@keyframes anim-hr {
    0% {
        width: 40px;
        height: 40px;
    } 
    100% {
        width: 0;
        height: 0;
    }
}
#buttons-link-section{
    display: flex;
    justify-content: center;
    padding: 40px 0 0 0;
}

.button-link-block{
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin: 20px;
}
#report-button{
    width: 200px;
    height: 40px;
}
#statistic-button{
    width: 300px;
    height: 50px;
}
button{
    background: #44392E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
    border: 0px;
    font-size: 18px;
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;
    transition-duration: 0.1s;
    cursor: pointer;
}
button:active{
    background: black;
    transform: translateY(4px);
}
button:hover{
    background: black;
}